body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  /* position: fixed; */
  display: grid;
  align-items:center;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  grid-template-rows: 69px;
  border-bottom: 1px solid seashell;
}

header ul {
  list-style-type: none;
  justify-self: end;
}

header li {
  float: left;
}

header li a {
  display: inline;
   /* not necessary because they are a's */
  /* text-decoration: underline; */
  margin-left: 25px;
  color: seashell;
}


header #logo {
  height: 50px;
  justify-self: start;
}

.showcase {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: 1200px 700px;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase .content {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: black;
  position: absolute;
  top: 50%;
}
